/*@import "./styles/hljs/atom-one-dark.css";*/

@import "./styles/hljs/atom-one-dark.css";

section {
  margin-bottom: 64px;
}

bram-tabs {
  display: block;
}

bram-panel {
  display: none;
}
bram-panel[active] {
  display: block;
}

bram-panel pre {
  font-size: 1.2em;
  margin-top: 0;
}

.example {
  display: flex;
}

.example-code {
  flex: 1.5;
}
.example-live {
  flex: 1;
  padding-top: 50px;
  margin-left: 30px;
}
