:root {
  --main-fg-color: #A7DBE5;
  --spec-fg-color: #B9F3FF;
  --alt-bg-color: #5D7A7F;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
}

.hero {
  display: flex;
  flex: 1;
  justify-content: center;
  background: #000;
  color: var(--spec-fg-color);
}

.hero-container {
  text-align: center;
}

.logo {
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 30px #F8A50E;
}

.logo img {
  width: 160px;
  height: 105px;
}

.hero-container figure {
  margin-top: 8em;
}

.hero-container figcaption {
  font-size: 200%;
  font-weight: bold;
  margin-top: 15px;
}

.hero-caption {
  font-size: 100%;
  font-weight: normal;
}

main {
  flex: 2;
  background: #303F42;
  color: var(--main-fg-color);
  padding: 3em;
}

/* Installation */
.installation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.installation h1 {
  font-size: 1.5em;
}

.install-command {
  padding: 15px 40px;
  background-color: var(--alt-bg-color);
  font-family: Courier New, Courier, monospace;
  font-size: 1.3em;
  border-radius: 6px;
}
/* end installation */

@media only screen and (min-device-width : 768px) {

}
